# Dependências do LucroVisor
cx-Freeze==8.5.0
requests==2.32.5
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
urllib3==2.5.0
filelock==3.20.0
packaging==25.0
setuptools==80.9.0
striprtf==0.0.29
python-msilib==0.4.3
cabarchive==0.2.4
lief==0.17.1
freeze-core==0.4.1
